@font-face {
  font-family: myFirstFont;
  src: url(CoupleValentine-z8W6G.ttf);
  font-weight: bold;
}

.button{
  background-color:#dd95e4;
  text-align: center;
  color: #fff;
  border: 3px solid rgb(155, 80, 155);
  width: 100px;
  height: 50px;
  margin: 30px;
  border-radius: 12px;
  font-family: myFirstFont;
}

.container{
  text-align: center;  
  width: 1000px;  
  height: 100px;  
  padding-top: 120px;  
  color: rgb(155, 80, 155);
  font-family: myFirstFont;
}

.hearts{
  width: 150px;
}

#headDiv{
  margin-top: 50px;
}

#sloth{
  left:650px;
}

#sloth2{
  left:650px;
}

#header{
  font-size:50px;
}